@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
} */

/* h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
} */

header {
  background: #2f2963;
  min-height: 10vh;
  color: #fff;
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main {
  min-height: 80vh;
}

footer {
  /* background: #C4A77D; for hover effect*/
  /* background: #CEF946C; for shadow*/

  background: #454372;
  min-height: 10vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-content,
.main-content,
.footer-content {
  width: 90%;
  margin-inline: auto;
}

.footer-content {
  color: #fff;
  height: 100%;
  padding-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-content a {
  text-decoration: none;
}

.footer-content a:hover {
  color: #ef946c;
}

.footer-content ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  list-style: none;
  font-size: 1.2rem;
}

.footer-content h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

footer .important-links {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  list-style: none;
  font-size: 1.5rem;
  padding-block: 0.5rem;
  color: rgb(165, 154, 154);
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  flex-wrap: wrap;
}

.header-content .logo {
  order: 0;
  /* flex: 1; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  cursor: pointer;
}

.header-content .logo:hover > a {
  color: #fff;
}

.header-content .logo:hover > i {
  color: #e6916d;
}

.sign-in-and-cart {
  display: flex;
  gap: 2rem;
  align-items: center;
  order: 1;
  /* flex: 1; */
}

.search-bar {
  order: 2;
  flex: 1;
  width: 100%;
  margin-inline: 10rem;
  display: flex;
  border: 2px solid #da6635;
  border-radius: 1rem;
  overflow: hidden;
  height: 4.2rem;
}

.search-bar input[type="search"] {
  width: 100%;
  /* border: 1px solid yellow; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.search-bar button {
  all: unset;
  cursor: pointer;
  background: #ef946c;
  padding-block: 0.7rem;
  padding-inline: 1.3rem;
}

#category-list-holder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #f7f7f7b6;
  white-space: nowrap;
  color: #000;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
}

#category-list-holder:hover {
  background: #c7c5c5b6;
  cursor: pointer;
}

#category-list-holder label {
  cursor: pointer;
}

#category-select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  all: unset;
}

#category-select option {
  padding: 1rem;
}
.search-bar button:hover {
  background: #da6635;
}

.sign-in span {
  font-size: 1.2rem;
}

.sign-in .fa-user {
  padding-inline: 1rem;
}

header a:hover {
  color: #ef946c;
}

.list-by-category {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-inline: 1.5rem;
}

#catergory-listed {
  text-transform: capitalize;
}

#catergory-listed label {
  padding-inline-end: 1rem;
}

.products h2 {
  text-transform: capitalize;
}

.product-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-block-end: 2rem;
}

.product-card {
  width: 25rem;
  height: 50rem;
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card:hover {
  /* cursor: pointer; */
  box-shadow: rgba(109, 66, 2, 0.3) 0px 3px 6px 0px,
    rgba(150, 116, 5, 0.15) 0px 3px 6px 1px;
}

.product-image {
  height: 50%;
  width: 100%;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product-details h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.product-details h3:hover {
  color: #ef946c;
}

.product-details p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
}

.count {
  color: #1c1274;
}

.product-details h4 {
  margin-block: 0.7rem;
}

.product-details h4 small {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  vertical-align: super;
}

.product-details .price {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.fa-star,
.fa-star-o {
  background: #ef946c;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.product-card-single {
  min-height: 78rem;
  display: flex;
  gap: 3rem;
}

.product-card-single h3{
  font-size: 2.7rem;
}

.product-card-single button{
  all: unset;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 1.2rem;
  cursor: pointer;
}

.product-card-single button:hover{
  color: #fff;
  border: #da6635;
  padding: 1.2rem;
  cursor: pointer;
  background: #ef946c;
}

.product-card-single button i{
  padding-inline: 0.5rem;
}

.product-card-single .product-image{
  margin-block-start: 3rem;
  padding: 3rem;
  width: 45rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-card-single p{
  font-size: 1.8rem;
  line-height: 2.7ch;
}

.product-card-single .product-details{
  max-width: 50ch;
}

.header-cart{
  position: relative;
  --cart-items-count: '0';
}



.header-cart::after{
  content: var(--cart-items-count);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  transform: translate(50%, -50%);
  background: #da6635;
  /* padding: 1rem; */
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}
/* .partial-star-holder {
  position: relative;
  width: 100%;
}

.partial-star {
  width: 50%;
  position: absolute;
  top: 0;
}
.partial-star-over {
  position: absolute;
  top: 0;
} */

@media (min-width: 510px) {
  .search-bar {
    order: 0;
    width: 100%;
    /* flex: 1; */
  }
}

@media (max-width: 1076px) {
  #category-list-holder {
    display: none;
  }
}

@media (max-width: 510px) {
  .footer-content {
    display: block;
    margin-inline: auto;
  }

  .footer-content .important-links {
    display: block;
  }
}

.loader {
  width: 120px;
  height: 120px;
  border-top: 4px solid rgb(237, 44, 73);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.products-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-button i:hover {
  background: #da6635;
  cursor: pointer;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.error-container{
  display:flex;
  justify-content: center;
}

.cart-container{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container ul{
  list-style: none;
}

.cart-container .image-container{
  padding: 1.5rem;
  width: 12rem;
}

.cart-container img{
  width: 100%;
  height: 100%;
}

.cart-container ul li{
  display: flex;
  max-width: 51rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cart-item-details{
  display: flex;
  flex-direction: column;
  padding-inline-end: 1.5rem;
}

.cart-container .category{
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.cart-container .category span{
  font-weight: 600;
  color: #1c1274;
}

.cart-container .price{
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.cart-container .price span{
  font-weight: 500;
  color: #da6635;
}

.total-price .price{
  font-weight: 500;
  color: #da6635;
}

.quantity {
  display: flex;
  align-items: center;
  padding: 0;
  margin-block: 0.7rem;
}

.quantity__minus,
.quantity__plus {
  all: unset;
  cursor: pointer;
  display: block;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}

.quantity__minus {
  margin-inline-start: 1rem;
}

.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
/* .quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
} */

.product-count{
  padding-inline: 0.5rem;
}

.remove-item{
  cursor: pointer;
  padding: 0.7rem;
  margin-block-end: 0.3rem;
}

.remove-item i{
  margin-block: 0.3rem;
  padding-inline: 1rem;
}

.total-price{
  margin-block: 1.5rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.update-container{
  display: flex;
}

.update-container .edit-section{
  border: 1px solid red;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  position: sticky;
  top:0;
  /* position: absolute; */
}

.update-container .product-cards{
  flex:1;
}

.update-product-details{
  display: flex;
  width: 70%;
}

.edit-form{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}

.update-product-details form{
  width: 100%;
}

.edit-form input, textarea{
  padding-block: 0.5rem;
  width: 100%;
}

.field-error {
  color: red;
}

/* .update-container .edit-section{
  flex: 1;
} */

.popup-container{
  position: fixed;
  height: 100vh;
  top:0;
  left:0;
  right: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup{
  background: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.popup-container .buttons{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.popup-container .buttons button{
  all: unset;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  background: #da6635;
  color: #fff;
}

.product-cards.update-cards .select-update-card{
  cursor: pointer;
}

.success-update{
  all: unset;
  cursor: pointer;
  border: 1px #86300b solid;
  padding: 0.5rem 1.2rem;
  background: #da6635;
  color: #fff;
}

.failure-update{
  padding: 0.5rem 1.2rem;
}


