main{
    min-height: 60vh;
}

.category-header, .blue-bg {
    background: #232f3e;
    color: #fff;
}

.no-border{
    border: none;
}

.btn-nostyle{
    all:unset;
    cursor: pointer;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    /* margin: 0 0.5em; */
    /* box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); */
    /* border: none; */
    /* border-radius: 0; */
    border: 2px solid rgb(211, 211, 211);
  }
   .carousel-inner {
    padding: 1em;
  } 
   .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  } 

  .check{
    overflow-x: scroll;
  }

  .clickable{
    cursor: pointer;
  }

  .shadow{
    all: unset;
    /* box-shadow: 0 2px 5px 0 rgba(213,217,217,.5); */
    box-shadow: 0 2px 5px rgba(15,17,17,.15);
    border: 1px solid black;
    border-radius: 9px;
    background: #F0F2F2;
  }

  .logo-center{
    display: flex;
    justify-content: center;
  }

  .no-break{
    white-space: nowrap;
  }

  .navbar-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .align-center{
    align-items: center;
  }

  .max-2-lines{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .max-1-lines{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

 
.fa-star,
.fa-star-o {
  background: #ef946c;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.count{
  color: #3f82d4;
}

.card-price{
  font-size: 0.6rem;
  font-weight: normal;
}

.card-price .sign{
  vertical-align: top;
}

.price{
  font-size: 1.6rem;
}

.card-price-mrp{
  font-size: 0.6rem;
}

.price-mrp{
  font-size: 0.9rem;
}

.card-img-container{
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.card-img-container img{
  height: 100%;
  width: auto;
}

.card{
  height: 32rem;
}

.cart-box{
  border: 1px solid rgb(211, 211, 211);
  border-radius: 7px;
  padding: 0.9rem;
}

.add-to-cart-button{
  background: gold;
  text-align: center;
  border-radius: 15px;
  padding-block: 0.3rem;
}

.add-to-cart-button:hover{
  cursor: pointer;
  background: rgb(224, 199, 53);
}

.cart-del-btn{
  padding: 1px 3px;
  background: #fff;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cart-del-btn:hover{
  background: #F0F2F2;
}

.cart-count-btn{
  background: #fff;
  border: 1px solid rgb(211, 211, 211);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
  padding: 1 3px;
  width: 48px;
}

.cart-count-btn:hover{
  background: #F0F2F2;
}

*{
  --bs-breadcrumb-divider: '>';
}

.go-to-cart{
  background: #fff;
  border: 1px solid rgb(211, 211, 211);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  padding: 0.3rem 1.2rem;
  margin: 1rem 0 0.3rem 0;
}

.top-menu-link:hover{
  border: 1px solid #fff;

}
