<div className="container my-5">
  <div className="row">
    <div className="col-md-8">
      <h3>Shopping Cart</h3>
      <p className="text-muted float-right mt-n3">Price</p>
    </div>
  </div>

  <div className="row">
    <div className="col-md-8">
      <div className="row border-top py-3">
        <div className="col-md-3">
          <img
            src="img/product_images/product03.png"
            className="img-fluid"
            alt="product 01 image"
          />
        </div>

        <div className="col-md-9">
          <button>IKIGAI</button>
          <p className="text-uppercase font-weight-bold my-0 float-right">
            <i className="fas fa-rupee-sign"></i>
            <span>150.00</span>
          </p>
          <p className="text-muted my-0">Sold by : Book Seller</p>
          <p className="text-muted my-0">Paperback</p>

          <div className="d-flex flex-row mt-2">
            <div className="input-group">
              <div className="input-group-prepend">
                <button className="btn btn-info btn-sm">-</button>
              </div>
              <input
                type="text"
                className="form-control form-control-sm"
                name="quantity"
                value="1"
                id="quantity"
                disabled
              />
              <div className="input-group-append">
                <button className="btn btn-info btn-sm">+</button>
              </div>
            </div>

            <button className="ml-2">Delete</button>
          </div>
        </div>
      </div>

      <div className="row border-top py-3">
        <div className="col-md-3">
          <img
            src="img/product_images/product03.png"
            className="img-fluid"
            alt="product 01 image"
          />
        </div>

        <div className="col-md-9">
          <button>IKIGAI</button>
          <p className="text-uppercase font-weight-bold my-0 float-right">
            <i className="fas fa-rupee-sign" style="font-size: 10px"></i>
            <span>150.00</span>
          </p>
          <p className="text-muted my-0">Sold by : Book Seller</p>
          <p className="text-muted my-0">Paperback</p>

          <div className="d-flex flex-row mt-2">
            <div className="input-group">
              <div className="input-group-prepend">
                <button className="btn btn-info btn-sm">-</button>
              </div>
              <input
                type="text"
                className="form-control form-control-sm"
                name="quantity"
                value="1"
                id="quantity"
                disabled
              />
              <div className="input-group-append">
                <button className="btn btn-info btn-sm">+</button>
              </div>
            </div>

            <button className="ml-2">Delete</button>
          </div>
        </div>
      </div>

      <div className="row border-top py-3">
        <div className="col-md-12">
          <p className="float-right font-weight-bold">
            Subtotal (5 items):
            <i className="fas fa-rupee-sign"></i> 750.00
          </p>
        </div>
      </div>
    </div>

    <div className="col-md-4 text-center pl-md-5 pl-0">
      <img
        src="img/shopping_cart_image.svg"
        className="img-fluid mt-md-n5 mt-0"
        alt="amazon image"
      />

      <div className="card my-3">
        <div className="card-header bg-transparent">
          <p className="text-center text-success my-0">
            <i className="fas fa-check"></i>
            Your order is eligible for FREE Delivery.
          </p>
        </div>
        <div className="card-body text-center">
          <p className="font-weight-bold">
            Subtotal (5 items):
            <i className="fas fa-rupee-sign"></i> 750.00
          </p>
          <button className="btn btn-warning btn-sm btn-block">
            Proceed to buy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
